.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

/* navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 1rem 2rem;
}


/* chat input */
.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#submit:hover {
    color: #fff;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

.send-button-enabled {
    cursor: pointer;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.send-button-disabled{
    opacity: 0.5;
    color: #6a6a6a;
    cursor: not-allowed;
    pointer-events: none !important;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px){
    .menu-toggle {
        display: block; 
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 1rem; 
    }
    
    .chatWindow {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }
}