.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    max-width:  320px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-out;
    position: relative;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255,255,255,0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;

}
.history::-webkit-scrollbar{
    display: none;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
    flex-shrink: 0;
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash{
    opacity: 1;
    color: white;
}

.fa-trash:hover {
    color: red !important;
}

.sidebar-mobile-open {
    transform: translateX(0) !important; 
}

.sidebar-header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 0 0 10px;
}

.new-chat-btn {
    flex-grow: 1;
    margin:0;
    padding: 10px;
    
}

.close-sidebar-btn{
    display: none;
}

@media (max-width: 768px){
    .sidebar-header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #171717;
    }

    .new-chat-btn{
        flex-grow: 1;
        margin-right: 10px;
    
        margin: 0 10px 0 0 !important; 
        padding: 10px !important;
        border: solid 0.5px rgba(255,255,255,0.5) !important;
    }

    .sidebar {
        transform: translateX(-100%);
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
        position:fixed ;
        top: 0;
        left:0;
        z-index: 1000;
    }

    .close-sidebar-btn {
        display: flex !important;
        justify-content: center !important; 
        align-items: center !important;
        position: static !important; 
        
        margin: 0 !important;
        padding: 0 !important;
        background: none !important;
        border: none !important;
        
        font-size: 1.5rem;
        color: #fff;
    }

    .sidebar-header-mobile button {
        margin: 0; 
    }
    .close-sidebar-btn i{
        padding: 0;
    }
}
